/* Define a fonte padrão e zera as margens e padding do body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #272626, #ee8a38;
    background: linear-gradient(to right, #272626, #272626);
    background-image: radial-gradient(circle at 71% 29%, rgba(187,105,28, 0.03) 0%, rgba(187,105,28, 0.03) 32%,transparent 32%, transparent 100%),radial-gradient(circle at 100% 82%, rgba(82, 82, 82,0.03) 0%, rgba(82, 82, 82,0.03) 26%,transparent 26%, transparent 100%),radial-gradient(circle at 30% 35%, rgba(78, 78, 78,0.03) 0%, rgba(78, 78, 78,0.03) 55%,transparent 55%, transparent 100%),radial-gradient(circle at 71% 54%, rgba(52, 52, 52,0.03) 0%, rgba(52, 52, 52,0.03) 13%,transparent 13%, transparent 100%),radial-gradient(circle at 17% 19%, rgba(202, 202, 202,0.03) 0%, rgba(202, 202, 202,0.03) 83%,transparent 83%, transparent 100%),radial-gradient(circle at 28% 30%, rgba(219, 219, 219,0.03) 0%, rgba(219, 219, 219,0.03) 39%,transparent 39%, transparent 100%),radial-gradient(circle at 56% 19%, rgba(155, 155, 155,0.03) 0%, rgba(155, 155, 155,0.03) 33%,transparent 33%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

/* Define o container principal com largura máxima de 800px, centralizado na página */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Define o tamanho da imagem */
img {
    width: 80px; /* largura de 200 pixels */
    height: 80px; /* altura de 200 pixels */
    position: relative;
    right: 10px;
    top: 5px; /* move a imagem 20 pixels para baixo */
}

header {
    background-color: #272626;
    color: #ffffff;
    padding: 0px 400px 0px 0px; /* Aumenta o padding para dar espaço ao texto */
    text-align: left; /* Alinha o texto à esquerda */
    position: relative; /* Adiciona posição relativa para alinhar a linha */
}

header h1 {
    margin: 0; /* Remove a margem padrão */
    display: inline-block; /* Permite que o título fique na mesma linha que a navegação */
    position: static;
    font-size: 3em;
}

header::after {
    content: ''; /* Adiciona um conteúdo vazio para criar a linha */
    position: absolute; /* Posiciona absolutamente em relação ao cabeçalho */
    bottom: 0; /* Alinha a linha na parte inferior do cabeçalho */
    left: 0; /* Alinha a linha à esquerda do cabeçalho */
    width: 100%; /* Define a largura da linha como 100% do cabeçalho */
    height: 2px; /* Define a altura da linha */
    background-color: #ff7300; /* Cor laranja da linha */
}

/* Define a estrutura interna do cabeçalho com flexbox para alinhar os elementos */
header .container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
}

/* Estiliza a lista de navegação */
nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0px 0px 0px 100px; /* Remove o espaçamento interno da lista */
}

/* Estiliza os itens da lista de navegação */
nav ul li {
    display: inline-block; /* Exibe os itens em linha */
    margin-right: 50px; /* Espaçamento entre os itens */
}

/* Estiliza os links da lista de navegação */
nav ul li a {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: color 0.3s; /* Adiciona uma transição suave de cor */
}

/* Altera a cor do texto dos links ao passar o mouse sobre eles */
nav ul li a:hover {
    color: #f2f2f2; /* Nova cor do texto */
}

/* Estiliza as seções da página */
section {
    padding: 50px 0; /* Espaçamento interno das seções */
    text-align: center; /* Alinhamento do texto */
}

/* Estiliza os títulos das seções */
section h2 {
    font-family: Arial, sans-serif;
    font-size: 60px;   
    margin-bottom: 20px; /* Espaçamento inferior do título */
    color: rgb(255, 253, 253);
    text-align: left;
    padding-left: 0px;
    margin-left: -240px;
}
section p1 {
    color: rgb(145 149 171/ 1); /* Altera a cor do texto para branco */
    text-align: left;
    padding-left: 0px;
    margin-left: -300px;
    font-size: 1rem;
    line-height: 1.5rem;
}

section h3 {
    font-family: Arial, sans-serif;
    font-size: 30px;   
    margin-bottom: 20px; /* Espaçamento inferior do título */
    color: rgb(255, 253, 253);
    text-align: left;
    padding-left: 0px;
    margin-left: 20px;
}
section p2 {
    color: white; /* Altera a cor do texto para branco */
    text-align: left;
    text-align: left;
    padding-left: 0px;
    margin-left: 160px;
  
}

/* Estiliza os botões da página */
.button {
    display: inline-block; /* Exibe o botão em linha */
    padding: 10px 20px; /* Espaçamento interno do botão */
    background-color: #7289da; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    transition: background-color 0.3s; /* Adiciona uma transição suave de cor */
}

/* Altera a cor de fundo dos botões ao passar o mouse sobre eles */
.button:hover {
    background-color: #677bc4; /* Nova cor de fundo do botão */
}

/* Estiliza o rodapé da página */
footer {
    background-color: #272626, #ee8a38; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    padding: 10px 0; /* Espaçamento interno do rodapé */
}
