:root {
    --laranja-principal: #ff7300;
    --laranja-button: #FF914D;
    --laranja-background: #ee8a38;
    --branco-padrao: #ffffff;
    --cinza-escuro-background: #272626;
    --preto-padrao: #000000;
    --transparent: #ffffff00;
    --preto-10: #ffffff10;
    --preto-50: #ffffff50;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/assets/4pA4zbJ.jpeg');
}

/* Define o container principal com largura máxima de 800px, centralizado na página */
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Define o tamanho da imagem */
.header-logo-nine {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    right: 45%;
}

.heading-tag-bot-name {
    margin: 0;
    display: inline-block; 
    position: relative;
    font-size: 2em;
    right: 45%;
}

header {
    background-color: var(--cinza-escuro-background);
    color: var(--branco-padrao);
    position: relative; /* Adiciona posição relativa para alinhar a linha */
}

header::after {
    content: ''; /* Adiciona um conteúdo vazio para criar a linha */
    position: absolute; /* Posiciona absolutamente em relação ao cabeçalho */
    bottom: 0; /* Alinha a linha na parte inferior do cabeçalho */
    left: 0; /* Alinha a linha à esquerda do cabeçalho */
    width: 100%; /* Define a largura da linha como 100% do cabeçalho */
    height: 2px; /* Define a altura da linha */
    background-color: #63636388; /* Cor laranja da linha */
}

.header-start, .header-about {
    position: relative;
    right: 390px;
    margin: -100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.header-login, .header-signup {
    position: relative;
    left: 490px;
    margin: -40%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
}

.header-signup {
    background-color: #ff730048; 
    color: var(--branco-padrao); 
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.header-signup:hover {
    background-color: var(--laranja-principal);
    color: var(--branco-padrao);
}

header .container {
    display: flex;
    align-items: center;
}

.header-start, .header-about, .header-login, .header-signup {
    color: #b4b6b6;
    text-decoration: none;
    transition: color 0.3s;
}

.header-start:hover, .header-about:hover, .header-login:hover {
    color: var(--branco-padrao);
}

/* Estiliza a lista de navegação */
.header-tags {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0px 0px 0px 100px; /* Remove o espaçamento interno da lista */
}

/* Estiliza os itens da lista de navegação */
.header-tags li {
    display: inline-block; /* Exibe os itens em linha */
    margin-right: 50px; /* Espaçamento entre os itens */
}

section {
    padding: 50px 0; /* Espaçamento interno das seções */
}

.principal-logo-nine {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 65%;
}

.heading-tag-project-name {
    font-family: Arial, sans-serif;
    font-size: 60px;   
    margin-bottom: 20px; /* Espaçamento inferior do título */
    color: var(--branco-padrao);
    text-align: left;
    padding-left: 0px;
    margin-left: -267px;
    margin-top: 15%;
}

.text-container {
    width: 60%; /* Defina a largura desejada para o contêiner do texto */
}

.text-project-explication {
    color: rgb(145 149 171/ 1); /* Altera a cor do texto para branco */
    text-align: left;
    padding-left: 0px;
    position: relative;
    right: 55%;
    font-size: 1rem;
    line-height: 1.5rem;
    word-wrap: break-word; /* ou overflow-wrap: break-word; */
}

.first-button, .second-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7300;
    color: var(--branco-padrao);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    right: 33%;
    margin-top: 4%;
}

.first-button:hover {
    background-color: var(--laranja-principal);
}

.first-button:active {
    background-color: #ff73009f;
    box-shadow: 0 5px #66666657;
    transform: translateY(4px);
  }

.second-button {
    background-color: var(--preto-10);
    right: 32%;
}

.second-button:hover {
    background-color: var(--preto-50);
}

.button-discord-logo {
    width: 20px;
    height: 15px;
    position: relative;
    margin: 0;
    right: 8px;
}

.heading-tag-section-otimization {
    font-family: Arial, sans-serif;
    font-size: 30px;   
    margin-bottom: 20px; /* Espaçamento inferior do título */
    color: var(--branco-padrao);
    text-align: left;
    padding-left: 0px;
    margin-left: 20px;
}

.text-servers-status {
    color: var(--branco-padrao); /* Altera a cor do texto para branco */
    text-align: left;
    padding-left: 0px;
    margin-left: 160px;
}

.imagem-sobre {
    float: left;
    width: 500px; /* Altere o valor para o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Adiciona um espaçamento à direita da imagem (opcional) */
}

footer {
    background-color: var(--cinza-escuro-background), var(--laranja-background); /* Cor de fundo do rodapé */
    color: var(--branco-padrao); /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    padding: 10px 0; /* Espaçamento interno do rodapé */
    bottom: 0;
    width: 100%;
    height: 50px; /* Ajuste a altura do seu footer aqui */
    padding: 10px 0; /* Espaçamento interno (opcional) */
    text-align: center; /* Alinhamento do texto (opcional) */
    z-index: 2000; /* Define a camada do elemento (opcional) */
}